@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  background-color: #F4EFEA;
  color: #382A21;
  overflow-x: hidden;
}

h1, h2, h3, .font-serif {
  font-family: 'Playfair Display', serif;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #E8DFD5;
}
::-webkit-scrollbar-thumb {
  background: #BFA894;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #A68B74;
}
